[Desktop Entry]
Encoding=UTF-8
Version=1.0

Name=Okteta Mobile
Name[ar]=أكتيتا موبايل
Name[es]=Okteta móvil
Name[nds]=Okteta för Handreedschappen
Name[nl]=Okteta-mobiel
Name[pt]=Okteta Móvel
Name[pt_BR]=Okteta Móvel
Name[sv]=Okteta för mobil
Name[tr]=Okteta Taşınabilir
Name[uk]=Okteta для мобільних пристроїв
Name[x-test]=xxOkteta Mobilexx
Name[zh_CN]=Okteta Mobile
Name[zh_TW]=Okteta Mobile

Exec=okteta-mobile

Icon=unknown
Type=Application
