[Desktop Entry]
Version=1.0

Name=Okteta Mobile
Name[ast]=Okteta Mobile
Name[ca]=Okteta Mòbil
Name[ca@valencia]=Okteta Mòbil
Name[da]=Okteta Mobile
Name[de]=Okteta Mobile
Name[en_GB]=Okteta Mobile
Name[es]=Okteta móvil
Name[et]=Okteta mobiilis
Name[fr]=Okteta Mobile
Name[it]=Okteta Mobile
Name[km]=Okteta Mobile
Name[nb]=Okteta mobil
Name[nds]=Okteta för Handreedschappen
Name[nl]=Okteta-mobiel
Name[pt]=Okteta Móvel
Name[pt_BR]=Okteta Móvel
Name[sr]=Октета мобилна
Name[sr@ijekavian]=Октета мобилна
Name[sr@ijekavianlatin]=Okteta mobilna
Name[sr@latin]=Okteta mobilna
Name[sv]=Okteta för mobil
Name[uk]=Okteta для мобільних пристроїв
Name[x-test]=xxOkteta Mobilexx
Name[zh_CN]=Okteta Mobile
Name[zh_TW]=Okteta 行動版

Exec=okteta-mobile

Icon=unknown
Type=Application
