[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays
Name[da]=Test af arrays med dynamisk længde
Name[en_GB]=Testing dynamic length arrays
Name[es]=Prueba de arrays de longitud dinámica
Name[et]=Dünaamilise pikkusega massiivide testimine
Name[fr]=Test des tableaux à taille dynamique
Name[gl]=Estanse a comprobar os array de tamaño dinámico
Name[nb]=Tester matriser med dynamisk størrelse
Name[pt]=Testar as listas de tamanho dinâmico
Name[pt_BR]=Testar as listas de tamanho dinâmico
Name[sv]=Testar fält med dynamisk längd
Name[uk]=Тестування масивів зі змінною розмірністю
Name[x-test]=xxTesting dynamic length arraysxx
Name[zh_TW]=測試動態長度陣列
Comment=A test structure for dynamic arrays
Comment[da]=En teststruktur til dynamiske arrays
Comment[en_GB]=A test structure for dynamic arrays
Comment[es]=Una estructura de pruebas para arrays dinámicos
Comment[et]=Dünaamiliste massiivide teststruktuur
Comment[fr]=Une structure de test pour les tableaux dynamiques
Comment[gl]=Unha estrutura de probas para arrays dinámicos
Comment[nb]=En teststruktur for vektorer/matriser med dynamisk lengde
Comment[pt]=Uma estrutura de testes para listas dinâmicas
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas
Comment[sv]=En teststruktur för dynamiska fält
Comment[uk]=Тестова структура для динамічних масивів
Comment[x-test]=xxA test structure for dynamic arraysxx
Comment[zh_TW]=測試動態陣列的測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
