[Desktop Entry]
Encoding=UTF-8
Icon=arrow-left
Type=Service
ServiceTypes=KPluginInfo

Name=VHD test
Name[ca]=Prova el VHD
Name[ca@valencia]=Prova el VHD
Name[cs]=Test VHD
Name[da]=VHD-test
Name[de]=VHD-Test
Name[el]=έλεγχος VHD
Name[en_GB]=VHD test
Name[es]=Prueba VHD
Name[et]=VHD test
Name[eu]=VHD proba
Name[fi]=VHD-testi
Name[fr]=Test « VHD »
Name[gl]=Proba VHD
Name[hu]=VHD teszt
Name[ia]=Prova de VHD
Name[it]=Prova VHD
Name[ko]=VHD 시험
Name[nl]=VHD-test
Name[nn]=VHD-test
Name[pl]=Próba VHD
Name[pt]=Teste de VHD
Name[pt_BR]=Teste de VHD
Name[ru]=Пример VHD
Name[sk]=VHD test
Name[sl]=Preizkus VHD
Name[sr]=Проба ВХД‑а
Name[sr@ijekavian]=Проба ВХД‑а
Name[sr@ijekavianlatin]=Proba VHD‑a
Name[sr@latin]=Proba VHD‑a
Name[sv]=VHD-test
Name[tr]=VHD testi
Name[uk]=Тестування VHD
Name[x-test]=xxVHD testxx
Name[zh_CN]=VHD 测试
Name[zh_TW]=VHD 測試

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=bitfields
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
