[Desktop Entry]
Encoding=UTF-8
Icon=arrow-left
Type=Service
ServiceTypes=KPluginInfo

Name=VHD test
Name[ca]=Prova el VHD
Name[de]=VHD-Test
Name[en_GB]=VHD test
Name[es]=Prueba VHD
Name[hu]=VHD teszt
Name[nl]=VHD-test
Name[pl]=Próba VHD
Name[pt]=Teste de VHD
Name[pt_BR]=Teste de VHD
Name[sk]=VHD test
Name[sr]=Проба ВХД‑а
Name[sr@ijekavian]=Проба ВХД‑а
Name[sr@ijekavianlatin]=Proba VHD‑a
Name[sr@latin]=Proba VHD‑a
Name[sv]=VHD-test
Name[uk]=Тестування VHD
Name[x-test]=xxVHD testxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=bitfields
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
