[Desktop Entry]
Encoding=UTF-8
Icon=x-shape-image
Type=Service
ServiceTypes=KPluginInfo

Name=PNG file header
Name[bs]=Zaglavlje PNG datoteke
Name[ca]=Capçalera de fitxer PNG
Name[ca@valencia]=Capçalera de fitxer PNG
Name[da]=PNG-fil-header
Name[de]=PNG-Dateikopf
Name[en_GB]=PNG file header
Name[es]=Cabecera de archivo PNG
Name[et]=PNG-faili päis
Name[fi]=PNG-tiedosto-otsake
Name[fr]=En-tête de fichier PNG
Name[it]=Intestazione dei file PNG
Name[kk]=PNG файл айдары
Name[km]=បឋមកថា​ឯកសារ​របស់​ PNG​
Name[ko]=PNG 파일 헤더
Name[nb]=PNG filhode
Name[nds]=PNG-Dateikopp
Name[nl]=PNG-bestandskop
Name[pa]=PNG ਫਾਇਲ ਹੈੱਡਰ
Name[pl]=Nagłówek pliku PNG
Name[pt]=Cabeçalho do ficheiro PNG
Name[pt_BR]=Cabeçalho do arquivo PNG
Name[ru]=Заголовок файла PNG
Name[sr]=Заглавље ПНГ фајла
Name[sr@ijekavian]=Заглавље ПНГ фајла
Name[sr@ijekavianlatin]=Zaglavlje PNG fajla
Name[sr@latin]=Zaglavlje PNG fajla
Name[sv]=PNG-filhuvud
Name[uk]=Заголовок файла PNG
Name[x-test]=xxPNG file headerxx
Name[zh_CN]=PNG 文件头
Name[zh_TW]=PNG 檔案標頭
Comment=A test structure containing the PNG file header (file must be set to big-endian)
Comment[bs]=Probna struktura koja sadrži zaglavlje PNG datoteke big endian)
Comment[ca]=Una estructura de proves que conté la capçalera d'un fitxer PNG (el fitxer s'ha de definir com a «big-endian»)
Comment[ca@valencia]=Una estructura de proves que conté la capçalera d'un fitxer PNG (el fitxer s'ha de definir com a «big-endian»)
Comment[da]=En teststruktur som indeholder PNG-fil-headeren (filen skal være sat til big-endian)
Comment[de]=Eine Test-Struktur, die einen PNG-Dateivorspann enthält (die Datei muss auf „Big Endian“ eingestellt sein)
Comment[en_GB]=A test structure containing the PNG file header (file must be set to big-endian)
Comment[es]=Una estructura de prueba que contiene la cabecera de un archivo PNG (el archivo debe fijarse como big-endian)
Comment[et]=PNG-faili päist sisaldav teststruktuur (fail peab olema jämedaotsaline)
Comment[fi]=Testirakenne, joka sisältää PNG-tiedosto-otsakkeen (tiedoston on oltava asetettu big-endian -muotoon)
Comment[fr]=Uns structure de test contenant l'en-tête de fichier PNG (le fichier doit être défini comme grand-boutiste)
Comment[it]=Una struttura di prova contenente l'intestazione dei file PNG (il file deve essere in formato big-endian)
Comment[kk]=PNG файл айдарының сынау құрылымы (байттар реті кері, яғни, big-endian болу керек)
Comment[km]=សាកល្បង​រចនាសម្ព័ន្ធ​ដែល​មាន​បឋមកថា​ឯកសារ​របស់​ PNG (ឯកសារ​ត្រូវ​តែ​​កំណត់​ទៅកាន់​ big-endian)
Comment[ko]=PNG 파일 헤더를 포함하는 테스트 구조 (빅 엔디안 모드로 열어야 함)
Comment[nb]=En teststruktur som inneholder PNG filhodet (filen må v ære satt til big-endian)
Comment[nds]=En Pröövstruktuur, de den PNG-Dateikopp bargt (de Datei mutt op »Big-Endian« sett wesen).
Comment[nl]=Een teststructuur die de PNG-bestandskop bevat (bestand moet ingesteld staan op big-endian)
Comment[pl]=Struktura testowa zawierająca nagłówek pliku PNG (plik musi być ustawiony na big-endian)
Comment[pt]=Uma estrutura de testes que contém o cabeçalho do ficheiro PNG (o ficheiro deverá estar como 'big-endian')
Comment[pt_BR]=Uma estrutura de testes que contém o cabeçalho de um arquivo PNG (o arquivo deve estar em big-endian)
Comment[sr]=Пробна структура која садржи заглавље ПНГ фајла (који мора бити велике крајњости)
Comment[sr@ijekavian]=Пробна структура која садржи заглавље ПНГ фајла (који мора бити велике крајњости)
Comment[sr@ijekavianlatin]=Probna struktura koja sadrži zaglavlje PNG fajla (koji mora biti velike krajnjosti)
Comment[sr@latin]=Probna struktura koja sadrži zaglavlje PNG fajla (koji mora biti velike krajnjosti)
Comment[sv]=En teststruktur som innehåller PNG-filhuvudet (filen måste vara inställt till big endian)
Comment[uk]=Тестова структура, що містить заголовок файла PNG (порядок байтів у файлі має бути зворотним)
Comment[x-test]=xxA test structure containing the PNG file header (file must be set to big-endian)xx
Comment[zh_TW]=包含 PNG 檔頭的測試結構（檔案必須設定為高位元優先）

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=png
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
