[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=ELF structure
Name[ca]=Estructura ELF
Name[ca@valencia]=Estructura ELF
Name[da]=ELF-struktur
Name[en_GB]=ELF structure
Name[es]=Estructura ELF
Name[et]=ELF struktuur
Name[nl]=ELF-structuur
Name[pt]=Estrutura ELF
Name[pt_BR]=Estrutura ELF
Name[uk]=Структура ELF
Name[zh_TW]=ELF 結構
Comment=Structure for Executable Linking Format (ELF)
Comment[ca]=Estructura per a «Executable Linking Format» (ELF)
Comment[ca@valencia]=Estructura per a «Executable Linking Format» (ELF)
Comment[da]=Struktur af Executable Linking Format (ELF)
Comment[en_GB]=Structure for Executable Linking Format (ELF)
Comment[es]=Estructura para el formato ejecutable y enlazable (ELF)
Comment[et]=Täidetava ja lingitava failivormingu (ELF) struktuur
Comment[nl]=Structuur voor Executable Linking Format (ELF)
Comment[pt]=Estrutura do Formato de Ligação de Executáveis (ELF)
Comment[pt_BR]=Estrutura para o ELF (Executable Linking Format)
Comment[uk]=Структура файлів у форматі Executable Linking Format (ELF)
Comment[zh_TW]=ELF （執行檔連結格式，Executable Linking Format）的結構

X-KDE-PluginInfo-Author=Harald Fernengel
X-KDE-PluginInfo-Email=harry@kdevelop.org
X-KDE-PluginInfo-Name=elf
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
