[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=ELF structure
Name[ca]=Estructura ELF
Name[ca@valencia]=Estructura ELF
Name[da]=ELF-struktur
Name[de]=ELF-Struktur
Name[en_GB]=ELF structure
Name[es]=Estructura ELF
Name[et]=ELF struktuur
Name[eu]=ELF egitura
Name[fr]=Structure ELF
Name[ga]=Struchtúr ELF
Name[gl]=Estrutura ELF
Name[hr]=ELF struktura
Name[hu]=ELF struktúra
Name[it]=Struttura ELF
Name[nb]=ELF-struktur
Name[nds]=ELF-Struktuur
Name[nl]=ELF-structuur
Name[pt]=Estrutura ELF
Name[pt_BR]=Estrutura ELF
Name[sk]=ELF štruktúra
Name[sr]=ЕЛФ структура
Name[sr@ijekavian]=ЕЛФ структура
Name[sr@ijekavianlatin]=ELF struktura
Name[sr@latin]=ELF struktura
Name[sv]=ELF-struktur
Name[tr]=ELF yapısı
Name[uk]=Структура ELF
Name[x-test]=xxELF structurexx
Name[zh_CN]=ELF 结构
Name[zh_TW]=ELF 結構
Comment=Structure for Executable Linking Format (ELF)
Comment[ca]=Estructura per a «Executable Linking Format» (ELF)
Comment[ca@valencia]=Estructura per a «Executable Linking Format» (ELF)
Comment[da]=Struktur af Executable Linking Format (ELF)
Comment[de]=Struktur für das „Executable Linking Format“ (ELF)
Comment[en_GB]=Structure for Executable Linking Format (ELF)
Comment[es]=Estructura para el formato ejecutable y enlazable (ELF)
Comment[et]=Täidetava ja lingitava failivormingu (ELF) struktuur
Comment[eu]=Executable Linking Formatuarentzako (ELF) egitura
Comment[fr]=Structure de l'Executable Linking Format (ELF)
Comment[gl]=Estrutura do Formato Executábel e Ligábel (ELF)
Comment[hu]=Az ELF formátumú programfájlok struktúrája
Comment[it]=Struttura per Executable Linking Format (ELF)
Comment[nb]=Struktur for Executable Linking Format (ELF)
Comment[nds]=Struktuur för "Executable Linking Format" (ELF)
Comment[nl]=Structuur voor Executable Linking Format (ELF)
Comment[pt]=Estrutura do Formato de Ligação de Executáveis (ELF)
Comment[pt_BR]=Estrutura para o ELF (Executable Linking Format)
Comment[sk]=Štruktúra pre Executable Linking Format (ELF)
Comment[sr]=Структура за формат повезивања извршних (ЕЛФ)
Comment[sr@ijekavian]=Структура за формат повезивања извршних (ЕЛФ)
Comment[sr@ijekavianlatin]=Struktura za format povezivanja izvršnih (ELF)
Comment[sr@latin]=Struktura za format povezivanja izvršnih (ELF)
Comment[sv]=Struktur för formatet Executable Linking Format (ELF)
Comment[tr]=Executable Linking Format (ELF) Yapısı
Comment[uk]=Структура файлів у форматі Executable Linking Format (ELF)
Comment[x-test]=xxStructure for Executable Linking Format (ELF)xx
Comment[zh_CN]=可执行链接格式(ELF)的结构
Comment[zh_TW]=ELF （執行檔連結格式，Executable Linking Format）的結構

X-KDE-PluginInfo-Author=Harald Fernengel
X-KDE-PluginInfo-Email=harry@kdevelop.org
X-KDE-PluginInfo-Name=elf
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
