[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Another simple test
Name[da]=En anden simpel test
Name[en_GB]=Another simple test
Name[es]=Otra prueba sencilla
Name[et]=Veel üks lihtne test
Name[fr]=Un autre test simple
Name[gl]=Outra proba simple
Name[nb]=En annen enkel test
Name[pt]=Outro teste simples
Name[pt_BR]=Outro teste simples
Name[sv]=En annan enkel test
Name[uk]=Ще один простий тест
Name[x-test]=xxAnother simple testxx
Name[zh_TW]=另一個簡單測試
Comment=A few more test structures
Comment[da]=Lidt flere teststrukturer
Comment[en_GB]=A few more test structures
Comment[es]=Más estructuras de prueba
Comment[et]=Veel mõned teststruktuurid
Comment[fr]=Quelques autres structures de test
Comment[gl]=Outra presada de estruturas de probas
Comment[nb]=Noen flere teststrukturer
Comment[pt]=Mais algumas estruturas de testes
Comment[pt_BR]=Mais algumas estruturas de testes
Comment[sv]=Några fler teststrukturer
Comment[uk]=Ще декілька тестових структур
Comment[x-test]=xxA few more test structuresxx
Comment[zh_TW]=更多測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test_2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
