[Desktop Entry]
Encoding=UTF-8
Icon=flag
Type=Service
ServiceTypes=KPluginInfo

Name=Testing bitflags
Name[bs]=Testiranje bit zastavica
Name[ca]=Proves de «bitflags»
Name[ca@valencia]=Proves de «bitflags»
Name[da]=Test af bitflag
Name[de]=Testen von Bitfeldern
Name[el]=Testing bitflags
Name[es]=Prueba de indicadores de bits
Name[et]=Bitilippude testimine
Name[fi]=Bittikenttien testausta
Name[fr]=Test des indicateurs de bits
Name[gl]=Proba das marcas de bits
Name[hu]=Bitzászlók tesztelése
Name[it]=Flag di bit di prova
Name[kk]=Сынақ бит-жалаушалары
Name[nb]=Tester bitflagg
Name[nl]=Bitflags testen
Name[pl]=Testowanie bitflags
Name[pt]=Teste de campos de 'bits'
Name[pt_BR]=Teste de bitflags
Name[ru]=Пример битовых флагов
Name[sk]=Testovanie bitových príznakov
Name[sr]=Проба битских заставица
Name[sr@ijekavian]=Проба битских заставица
Name[sr@ijekavianlatin]=Proba bitskih zastavica
Name[sr@latin]=Proba bitskih zastavica
Name[sv]=Testar bitflaggor
Name[tr]=Bit bayrakları test ediliyor
Name[uk]=Тестування бітових прапорців
Name[x-test]=xxTesting bitflagsxx
Name[zh_CN]=测试位标记
Name[zh_TW]=測試位元旗標
Comment=A test for bitflags
Comment[bs]=Test za bit zastavice
Comment[ca]=Una prova per a «bitflags»
Comment[ca@valencia]=Una prova per a «bitflags»
Comment[da]=En test af bitflag
Comment[de]=Ein Test auf Bitfelder
Comment[el]=Δοκιμή για διακόπτες
Comment[es]=Una prueba para indicadores de bits
Comment[et]=Bitilippude test
Comment[fi]=Bittikenttien testi
Comment[fr]=Un test pour les indicateurs de bits
Comment[gl]=Unha proba das marcas de bits.
Comment[hu]=Teszt a bitzászlókhoz
Comment[it]=Una prova per flag di bit
Comment[kk]=Бит-жалаушаларының сынағы
Comment[nb]=En test for bitflagg
Comment[nl]=Een test voor bitflags
Comment[pl]=Test dla bitflags
Comment[pt]=Um teste para os campos de 'bits'
Comment[pt_BR]=Um teste para bitflags
Comment[ru]=Пример описания битовых флагов
Comment[sk]=Test pre bitové príznaky
Comment[sr]=Проба за битске заставице
Comment[sr@ijekavian]=Проба за битске заставице
Comment[sr@ijekavianlatin]=Proba za bitske zastavice
Comment[sr@latin]=Proba za bitske zastavice
Comment[sv]=En test av bitflaggor
Comment[tr]=Bit bayrakları için bir test
Comment[uk]=Тест для бітових прапорців
Comment[x-test]=xxA test for bitflagsxx
Comment[zh_CN]=位标记测试
Comment[zh_TW]=位元旗標測試


X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=flags
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.test.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
