[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[x-test]=xxTesting dynamic length arrays (JS). Do not translate, it's a waste of timexx
Comment=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[x-test]=xxA test structure for dynamic arrays (JS). Do not translate, it's a waste of timexx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic-array
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
