[Desktop Entry]
Encoding=UTF-8
Icon=format-list-ordered
Type=Service
ServiceTypes=KPluginInfo

Name=Testing enums
Name[en_GB]=Testing enums
Name[pt]=Teste de enumerados
Name[pt_BR]=Teste de enumerações
Name[sv]=Testar uppräkningsvärden
Name[uk]=Тестування переліків
Name[x-test]=xxTesting enumsxx
Name[zh_TW]=測試列舉
Comment=A test structure for enums
Comment[en_GB]=A test structure for enums
Comment[pt]=Uma estrutura de testes para tipos enumerados
Comment[pt_BR]=Uma estrutura de testes para tipos enumerados
Comment[sv]=En teststruktur för uppräkningsvärden
Comment[uk]=Тестова структура для переліків (enum)
Comment[x-test]=xxA test structure for enumsxx
Comment[zh_TW]=列舉的測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=enum
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.test.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
