[Desktop Entry]
Encoding=UTF-8
Icon=application-javascript
Type=Service
ServiceTypes=KPluginInfo

Name=JavaScript test
Name[ca]=Prova del JavaScript
Name[ca@valencia]=Prova del JavaScript
Name[cs]=Test JavaScriptu
Name[da]=JavaScript-test
Name[de]=JavaScript-Test
Name[en_GB]=JavaScript test
Name[es]=Prueba JavaScript
Name[et]=JavaScripti test
Name[fr]=Test JavaScript
Name[id]=Pengujian JavaScript
Name[kk]=JavaScript сынағы
Name[km]=សាកល្បង JavaScript
Name[ko]=자바스크립트 시험
Name[nb]=JavaScript-test
Name[nds]=JavaScript-Test
Name[nl]=JavaScript test
Name[pt]=Teste de JavaScript
Name[pt_BR]=Teste de JavaScript
Name[ro]=Test JavaScript
Name[sr]=Проба јаваскрипта
Name[sr@ijekavian]=Проба јаваскрипта
Name[sr@ijekavianlatin]=Proba JavaScripta
Name[sr@latin]=Proba JavaScripta
Name[sv]=Javascript-test
Name[th]=การทดสอบจาวาสคริปต์
Name[tr]=JavaScript test
Name[uk]=Тест JavaScript
Name[x-test]=xxJavaScript testxx
Name[zh_CN]=JavaScript 测试
Name[zh_TW]=JavaScript 測試
Comment=Just testing structures defined in JS
Comment[ca]=Per a provar estructures definides en JS
Comment[ca@valencia]=Per a provar estructures definides en JS
Comment[da]=Tester bare struktur defineret i JS
Comment[en_GB]=Just testing structures defined in JS
Comment[es]=Prueba de estructuras definidas en JS
Comment[et]=JavaScriptis defineeritud struktuuride testimine
Comment[fr]=Test simplement les structures définies dans JS
Comment[id]=Hanya menguji struktur yang didefinisikan pada JS
Comment[kk]=Жай ғана JS тіліндегі құрылымдарды сынау
Comment[km]=គ្រាន់តែ​សាកល្បង​រចនាសម្ព័ន្ធ​ដែលបាន​កំណត់​នៅ​ក្នុង JS
Comment[ko]=자바스크립트로 정의한 구조체 시험
Comment[nb]=Bare tester strukturer definert i JS
Comment[nds]=Eenfach JavaSkript-Pröövstrukturen
Comment[nl]=Gewoon testen van structuren gedefinieerd in JS
Comment[pt]=Estruturas de testes definidas em JavaScript
Comment[pt_BR]=Apenas testando as estruturas definidas no JS
Comment[sr]=Испробавање структура дефинисаних у јаваскрипту
Comment[sr@ijekavian]=Испробавање структура дефинисаних у јаваскрипту
Comment[sr@ijekavianlatin]=Isprobavanje struktura definisanih u JavaScriptu
Comment[sr@latin]=Isprobavanje struktura definisanih u JavaScriptu
Comment[sv]=Bara test av strukturer definierade med Javascript
Comment[tr]=JS bünyesinde tanımlı yapıları test eder
Comment[uk]=Проста перевірка структур, визначених у JS
Comment[x-test]=xxJust testing structures defined in JSxx
Comment[zh_CN]=以 JS 定义的测试结构
Comment[zh_TW]=測試定義於 JS 中的結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=simple-js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
