[Desktop Entry]
Encoding=UTF-8
Icon=application-javascript
Type=Service
ServiceTypes=KPluginInfo

Name=JavaScript test
Name[x-test]=xxJavaScript testxx
Comment=Just testing structures defined in JS
Comment[x-test]=xxJust testing structures defined in JSxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=simple-js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
