[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays
Name[bs]=Proba nizova dinamičke dužine
Name[ca]=Proves de matrius de longitud dinàmica
Name[ca@valencia]=Proves de matrius de longitud dinàmica
Name[da]=Test af arrays med dynamisk længde
Name[de]=Testen von Arrays dynamischer Länge
Name[en_GB]=Testing dynamic length arrays
Name[es]=Prueba de arrays de tamaño dinámico
Name[et]=Dünaamilise pikkusega massiivide testimine
Name[fi]=Taulukkojen dynaamisen pituuden testausta
Name[fr]=Test de tableaux de longueur dynamique
Name[it]=Prova per array a lunghezza dinamica
Name[kk]=Ұзындығы өзгермелі жиымдарды сынау
Name[km]=ការ​សាកល្បង​រៀបចំ​ប្រវែង​ថាមវន្ត​
Name[ko]=가변 길이 배열 시험
Name[nb]=Tester matriser med dynamisk størrelse
Name[nds]=Rebeden mit dünaamsch Längden pröven
Name[nl]=Dynamische lengte arrays testen
Name[pl]=Testowanie dynamicznych macierzy
Name[pt]=Teste de listas de tamanho dinâmico
Name[pt_BR]=Testar as listas de tamanho dinâmico
Name[sr]=Проба низова динамичке дужине
Name[sr@ijekavian]=Проба низова динамичке дужине
Name[sr@ijekavianlatin]=Proba nizova dinamičke dužine
Name[sr@latin]=Proba nizova dinamičke dužine
Name[sv]=Testar fält med dynamisk längd
Name[uk]=Тестування масивів зі змінною розмірністю
Name[x-test]=xxTesting dynamic length arraysxx
Name[zh_CN]=测试动态数组
Name[zh_TW]=測試動態長度陣列
Comment=A test structure for dynamic arrays
Comment[bs]=Probna struktura za dinamičke nizove
Comment[ca]=Una estructura de proves per a matrius dinàmiques
Comment[ca@valencia]=Una estructura de proves per a matrius dinàmiques
Comment[da]=En teststruktur til dynamiske arrays
Comment[de]=Eine Test-Struktur für dynamische Felder
Comment[en_GB]=A test structure for dynamic arrays
Comment[es]=Una estructura de prueba para arrays dinámicos
Comment[et]=Dünaamiliste massiivide teststruktuur
Comment[fi]=Testirakenne dynaamisille taulukoille
Comment[fr]=Une structure de test pour les tableaux dynamiques
Comment[it]=Una struttura di prova per array dinamici
Comment[kk]=Динамикалық жиымдарын сынау құрылымы
Comment[km]=សាកល្បង​កំណត់​រចនាសម្ព័ន្ធ​ សម្រាប់​រៀបចំ​​ថាមវន្ត​
Comment[ko]=가변 길이 배열을 위한 테스트 구조
Comment[nb]=En teststruktur for vektorer/matriser med dynamisk lengde
Comment[nds]=En Pröövstruktuur för dünaamsch Rebeden
Comment[nl]=Een teststructuur voor dynamische arrays
Comment[pl]=Struktura testowa dla dynamicznych macierzy
Comment[pt]=Uma estrutura de testes para listas dinâmicas
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas
Comment[sr]=Пробна структура за динамичке низове
Comment[sr@ijekavian]=Пробна структура за динамичке низове
Comment[sr@ijekavianlatin]=Probna struktura za dinamičke nizove
Comment[sr@latin]=Probna struktura za dinamičke nizove
Comment[sv]=En teststruktur för dynamiska fält
Comment[uk]=Тестова структура для динамічних масивів
Comment[x-test]=xxA test structure for dynamic arraysxx
Comment[zh_CN]=测试动态数组的结构
Comment[zh_TW]=測試動態陣列的測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
