[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays
Name[pt]=Teste de listas de tamanho dinâmico
Name[pt_BR]=Testar as listas de tamanho dinâmico
Name[uk]=Тестування масивів зі змінною розмірністю
Name[x-test]=xxTesting dynamic length arraysxx
Comment=A test structure for dynamic arrays
Comment[pt]=Uma estrutura de testes para listas dinâmicas
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas
Comment[uk]=Тестова структура для динамічних масивів
Comment[x-test]=xxA test structure for dynamic arraysxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
