[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Another simple test
Name[bs]=Još jedna jednostavna proba
Name[ca]=Una altra prova senzilla
Name[ca@valencia]=Una altra prova senzilla
Name[cs]=Další jednoduchý test
Name[da]=En anden enkel test
Name[de]=Ein weiterer einfacher Test
Name[en_GB]=Another simple test
Name[es]=Otra prueba sencilla
Name[et]=Veel üks lihtne test
Name[fi]=Toinen yksinkertainen testi
Name[fr]=Un autre test simple
Name[it]=Un'altra prova semplice
Name[kk]=Тағы бір қарапайым сынақ
Name[km]=សាកល្បង​សាមញ្ញ​ផ្សេង​ទៀត​
Name[ko]=또 다른 간단한 테스트
Name[nb]=En annen enkel test
Name[nds]=Noch en eenfach Prööv
Name[nl]=Een andere eenvoudige test
Name[pa]=ਹੋਰ ਸਧਾਰਨ ਟੈਸਟ
Name[pl]=Inny prosty test
Name[pt]=Outro teste simples
Name[pt_BR]=Outro teste simples
Name[ru]=Другие примеры структур данных
Name[sr]=Још једна проста проба
Name[sr@ijekavian]=Још једна проста проба
Name[sr@ijekavianlatin]=Još jedna prosta proba
Name[sr@latin]=Još jedna prosta proba
Name[sv]=En annan enkel test
Name[uk]=Ще один простий тест
Name[x-test]=xxAnother simple testxx
Name[zh_CN]=其它简单测试
Name[zh_TW]=另一個簡單測試
Comment=A few more test structures
Comment[bs]=Još nekoliko probnih struktura
Comment[ca]=Més estructures de proves
Comment[ca@valencia]=Més estructures de proves
Comment[da]=Lidt flere teststrukturer
Comment[de]=Einige weitere Test-Strukturen
Comment[en_GB]=A few more test structures
Comment[es]=Algunas estructuras de prueba adicionales
Comment[et]=Veel mõned teststruktuurid
Comment[fi]=Muutamia lisätestirakenteita
Comment[fr]=Quelques structures de test de plus
Comment[it]=Altre strutture di prova
Comment[kk]=Бірнеше қосымша сынақ құрылымдары
Comment[km]=សាកល្បង​រចនាសម្ព័ន្ធ​បន្ថែម​មួយ​ចំនួន​ទៀត​
Comment[ko]=좀 더 많은 테스트 구조
Comment[nb]=Noen flere teststrukturer
Comment[nds]=Noch en poor Pröövstrukturen
Comment[nl]=Nog enkele teststucturen
Comment[pl]=Trochę więcej struktur testowych
Comment[pt]=Mais algumas estruturas de testes
Comment[pt_BR]=Mais algumas estruturas de testes
Comment[ru]=Ещё несколько примеров структур данных
Comment[sr]=Још неколико пробних структура
Comment[sr@ijekavian]=Још неколико пробних структура
Comment[sr@ijekavianlatin]=Još nekoliko probnih struktura
Comment[sr@latin]=Još nekoliko probnih struktura
Comment[sv]=Några fler teststrukturer
Comment[uk]=Ще декілька тестових структур
Comment[x-test]=xxA few more test structuresxx
Comment[zh_CN]=更多测试结构
Comment[zh_TW]=更多測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test_2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
