[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Another simple test
Name[x-test]=xxAnother simple testxx
Comment=A few more test structures
Comment[x-test]=xxA few more test structuresxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test_2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
