[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Another simple test
Name[en_GB]=Another simple test
Name[pt]=Outro teste simples
Name[pt_BR]=Outro teste simples
Name[uk]=Ще один простий тест
Name[x-test]=xxAnother simple testxx
Comment=A few more test structures
Comment[en_GB]=A few more test structures
Comment[pt]=Mais algumas estruturas de testes
Comment[pt_BR]=Mais algumas estruturas de testes
Comment[uk]=Ще декілька тестових структур
Comment[x-test]=xxA few more test structuresxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test_2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
