[Desktop Entry]
Encoding=UTF-8
Icon=application-x-java
Type=Service
ServiceTypes=KPluginInfo

Name=Java .class file format
Name[ca]=Format de fitxer .class de Java
Name[ca@valencia]=Format de fitxer .class de Java
Name[cs]=Formát souboru Java .class
Name[da]=Java .class-filformat
Name[de]=Java-„.class“-Dateiformat
Name[el]=Μορφή αρχείου Java .class
Name[en_GB]=Java .class file format
Name[es]=Formato de archivo .class de Java
Name[et]=Java .class failivorming
Name[eu]=Javako .class fitxategi formatua
Name[fi]=Javan .class-tiedostomuoto
Name[fr]=Format de fichier « .class » Java
Name[gl]=Formato de ficheiro «.class» de Java
Name[hu]=Java .class fájlformátum
Name[ia]=Formato de file Java .class
Name[it]=Formato di file .class di Java
Name[ko]=Java .class 파일 형식
Name[nl]=Bestandsformaat van Java .class
Name[nn]=Java .class-filformat
Name[pl]=Format plików .class Javy
Name[pt]=Formato de ficheiro .class do Java
Name[pt_BR]=Formato de arquivo .class do Java
Name[ru]=Классы Java
Name[sk]=Formát súborov Java .class
Name[sl]=Vrsta datoteke Java .class
Name[sr]=Формат јаванског .class фајла
Name[sr@ijekavian]=Формат јаванског .class фајла
Name[sr@ijekavianlatin]=Format javanskog .class fajla
Name[sr@latin]=Format javanskog .class fajla
Name[sv]=Java .class-filformat
Name[tr]=Java .class dosya biçimi
Name[uk]=Формат файлів .class Java
Name[x-test]=xxJava .class file formatxx
Name[zh_CN]=Java .class 文件格式
Name[zh_TW]=Java .class 檔案格式
Comment=still very incomplete!!!
Comment[ca]=Encara està molt incomplet!
Comment[ca@valencia]=Encara està molt incomplet!
Comment[da]=stadig langt fra færdigt!!!
Comment[de]=Noch sehr unvollständig
Comment[el]=ακόμα πολύ ανέτοιμο!!!
Comment[en_GB]=still very incomplete!!!
Comment[es]=Todavía bastante incompleto
Comment[et]=Ikka veel väga ebatäielik!!!
Comment[eu]=oraindik oso osatugabea!!!
Comment[fi]=vielä erittäin keskeneräinen!
Comment[fr]=Encore très incomplet !!!
Comment[gl]=Aínda está moi incompleto!
Comment[hu]=még mindig nagyon hiányos!!!
Comment[ia]=ancora multe incomplete!!!
Comment[it]=Ancora molto incompleto!
Comment[ko]=여전히 불완전합니다!!!
Comment[nl]=nog steeds erg onvolledig!!!
Comment[nn]=er framleis veldig ufullstendig!!!
Comment[pl]=nadal bardzo nieukończone!!!
Comment[pt]=ainda muito incompleto!!!
Comment[pt_BR]=ainda muito incompleto!!!
Comment[ru]=В процессе разработки
Comment[sk]=stále veľmi nekompletné!!!
Comment[sl]=še vedno zelo nepopolno!
Comment[sr]=Још увек врло непотпуно!
Comment[sr@ijekavian]=Још увек врло непотпуно!
Comment[sr@ijekavianlatin]=Još uvek vrlo nepotpuno!
Comment[sr@latin]=Još uvek vrlo nepotpuno!
Comment[sv]=Fortfarande mycket ofullständigt!
Comment[tr]=hala çok eksik!!!
Comment[uk]=Все ще доволі неповний!
Comment[x-test]=xxstill very incomplete!!!xx
Comment[zh_CN]=仍非常不完整！！！
Comment[zh_TW]=仍然不完整！

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=classfile
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.plugin.org/
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
