[Desktop Entry]
Type=Service
Icon=khexedit
Encoding=UTF-8
Name=Embedded Binary Viewer
Comment=Embedded Binary Viewer
MimeType=all/allfiles
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libkhexedit2part
