<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="khexedit2part" version="1">
<MenuBar>
  <Menu name="edit">
    <Action name="edit_select_all" group="edit_select_merge" />
    <Action name="edit_deselect" group="edit_select_merge" />
  </Menu>
  <Menu name="view">
    <Separator/>
    <Action name="view_zoom_in"/>
    <Action name="view_zoom_out"/>
    <Separator/>
    <Action name="view_showunprintable"/>
    <Separator/>
    <Menu name="coding"><text>&amp;Value Coding</text>
      <Action name="view_hexcoding"/>
      <Action name="view_deccoding"/>
      <Action name="view_octcoding"/>
      <Action name="view_bincoding"/>
    </Menu>
    <Menu name="encoding"><text>Document &amp;Encoding</text>
      <Action name="view_localencoding"/>
      <Action name="view_asciiencoding"/>
<!--      <Action name="enc_ebcdic"/>
       <Action name="enc_custom"/> //-->
    </Menu>
  </Menu>
  <Menu name="settings">
    <Separator/>
    <Menu name="resizestyle" group="show_merge"><text>&amp;Resize Style</text>
      <Action name="settings_noresize"/>
      <Action name="settings_lockgroups"/>
      <Action name="settings_fullsizeusage"/>
    </Menu>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="view_zoom_in"/>
  <Action name="view_zoom_out"/>
</ToolBar>

<!-- Editor popup menu //-->
<Menu name="editor_popup">
  <Action name="view_hexcoding"/>
  <Action name="view_deccoding"/>
  <Action name="view_octcoding"/>
  <Action name="view_bincoding"/>
  <Separator/>
  <Action name="resize_lock"/>
</Menu>
</kpartgui>
