[Desktop Entry]
Encoding=UTF-8
Icon=format-list-ordered
Type=Service
ServiceTypes=KPluginInfo

Name=Testing enums
Name[da]=Test af enums
Name[en_GB]=Testing enums
Name[es]=Prueba de enumeradores
Name[et]=Väärtustike testimine
Name[fr]=Test des enums
Name[gl]=Enums de probas
Name[nb]=Tester enum
Name[pt]=Teste de enumerados
Name[sv]=Testar uppräkningsvärden
Name[uk]=Тестування переліків
Name[x-test]=xxTesting enumsxx
Comment=A test structure for enums
Comment[da]=En teststruktur til enums
Comment[en_GB]=A test structure for enums
Comment[es]=Un estructura de pruebas para enumeradores
Comment[et]=Väärtustike teststruktuur
Comment[fr]=Un structure de test pour les énumérations
Comment[gl]=Unha estrutura de probas para enumeracións
Comment[nb]=En teststruktur for enum
Comment[pt]=Uma estrutura de testes para tipos enumerados
Comment[sv]=En teststruktur för uppräkningsvärden
Comment[uk]=Тестова структура для переліків (enum)
Comment[x-test]=xxA test structure for enumsxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=enum
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.test.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
