[Desktop Entry]
Encoding=UTF-8
Icon=format-list-ordered
Type=Service
ServiceTypes=KPluginInfo

Name=Testing enums
Name[ca]=Proves d'enumeracions
Name[ca@valencia]=Proves d'enumeracions
Name[da]=Test af enums
Name[en_GB]=Testing enums
Name[es]=Prueba de enumeradores
Name[et]=Väärtustike testimine
Name[fr]=Test des enums
Name[gl]=Enums de probas
Name[hr]=Testiram pobrojane tipove
Name[hu]=Felsorolt típusok tesztelése
Name[lv]=Pārbauda enumus
Name[nb]=Tester enum
Name[pt]=Teste de enumerados
Name[pt_BR]=Teste de enumerados
Name[sk]=Testovanie enums
Name[sr]=Проба набрајања
Name[sr@ijekavian]=Проба набрајања
Name[sr@ijekavianlatin]=Proba nabrajanja
Name[sr@latin]=Proba nabrajanja
Name[sv]=Testar uppräkningsvärden
Name[uk]=Тестування переліків
Name[x-test]=xxTesting enumsxx
Name[zh_CN]=测试枚举
Name[zh_TW]=測試列舉
Comment=A test structure for enums
Comment[ca]=Un estructura de proves per a enumeracions
Comment[ca@valencia]=Un estructura de proves per a enumeracions
Comment[da]=En teststruktur til enums
Comment[en_GB]=A test structure for enums
Comment[es]=Un estructura de pruebas para enumeradores
Comment[et]=Väärtustike teststruktuur
Comment[fr]=Un structure de test pour les énumérations
Comment[gl]=Unha estrutura de probas para enumeracións
Comment[hr]=Testna struktura za pobrojane tipove (enum)
Comment[hu]=Struktúra felsorolt típusok teszteléséhez
Comment[lv]=Enumu pārbaudes struktūra
Comment[nb]=En teststruktur for enum
Comment[pt]=Uma estrutura de testes para tipos enumerados
Comment[pt_BR]=Uma estrutura de testes para enumerados
Comment[sk]=Testovacia štruktúra pre enums
Comment[sr]=Пробна структура за набрајања
Comment[sr@ijekavian]=Пробна структура за набрајања
Comment[sr@ijekavianlatin]=Probna struktura za nabrajanja
Comment[sr@latin]=Probna struktura za nabrajanja
Comment[sv]=En teststruktur för uppräkningsvärden
Comment[uk]=Тестова структура для переліків (enum)
Comment[x-test]=xxA test structure for enumsxx
Comment[zh_CN]=对枚举的测试用结构
Comment[zh_TW]=列舉的測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=enum
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.test.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
