[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[nds]=Dünaamsch Längdenrebeden pröven (JS)
Name[pt]=Teste de listas de tamanho dinâmico (JS)
Name[pt_BR]=Teste de listas de tamanho dinâmico (JS). Não traduza, é perda de tempo
Name[sv]=Testar fält med dynamisk längd (JS). Översätt inte, det är bortkastad tid.
Name[uk]=Тестування масивів зі змінною розмірністю (JS). Не перекладайте.
Name[x-test]=xxTesting dynamic length arrays (JS). Do not translate, it's a waste of timexx
Name[zh_TW]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Comment=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[nds]=En Pröövstruktuur för dünaamsch Rebeden (JS)
Comment[pt]=Uma estrutura de testes para listas dinâmicas (JS)
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas (JS). Não traduza, é perda de tempo
Comment[sv]=En teststruktur för dynamiska fält (JS). Översätt inte, det är bortkastad tid.
Comment[uk]=Тестова структура для динамічних масивів (JS). Не перекладайте.
Comment[x-test]=xxA test structure for dynamic arrays (JS). Do not translate, it's a waste of timexx
Comment[zh_TW]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic-array
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
