[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[ca]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[ca@valencia]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[da]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[es]=Prueba de arrays de longitud dinámica (JS).
Name[et]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[fr]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[kk]=Ұзындығы өзгермелі жиымдарды сынау (JS). Босқа уақытты кетіріп аудармаңыз
Name[km]=សាកល្បង​អារ៉េ​ប្រវែង​ថាមវន្ត (JS) ។ កុំ​បកប្រែ វា​ចំណាយ​ពេល​​ឥត​ប្រយោជន៍
Name[nb]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[nl]=Dynamische lengte arrays (JS) testen.
Name[pt]=A testar as listas de tamanho dinâmico (JS)
Name[pt_BR]=Testando as listas de tamanho dinâmico (JS)
Name[sr]=Проба низова динамичке дужине (јаваскрипт).
Name[sr@ijekavian]=Проба низова динамичке дужине (јаваскрипт).
Name[sr@ijekavianlatin]=Proba nizova dinamičke dužine (JavaScript).
Name[sr@latin]=Proba nizova dinamičke dužine (JavaScript).
Name[sv]=Testar fält med dynamisk längd (JS). Översätt inte, det är bortkastad tid.
Name[tr]=Dinamik uzunluklu diziler (JS) test ediliyor.
Name[uk]=Тестування масивів зі змінною розмірністю (JS). Не перекладайте.
Name[x-test]=xxTesting dynamic length arrays (JS). Do not translate, it's a waste of timexx
Name[zh_TW]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Comment=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[ca]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[ca@valencia]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[da]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[es]=Una estructura de pruebas para arrays dinámicos (JS).
Comment[et]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[fr]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[kk]=Өзгермелі жиымдарды сынау құрылымы (JS). Босқа уақытты кетіріп аудармаңыз
Comment[km]=រចនាសម្ព័ន្ធ​សាកល្បង​សម្រាប់​អារ៉េ​ថាមវន្ត (JS) ។ កុំ​បកប្រែ វា​ចំណាយ​ពេល​ឥតប្រយោជន៍
Comment[nb]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[nl]=Een teststructuur voor dynamische arrays (JS).
Comment[pt]=Uma estrutura de testes para listas dinâmicas (JS)
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas (JS)
Comment[sr]=Пробна структура за динамичке низове (јаваскрипт).
Comment[sr@ijekavian]=Пробна структура за динамичке низове (јаваскрипт).
Comment[sr@ijekavianlatin]=Probna struktura za dinamičke nizove (JavaScript).
Comment[sr@latin]=Probna struktura za dinamičke nizove (JavaScript).
Comment[sv]=En teststruktur för dynamiska fält (JS). Översätt inte, det är bortkastad tid.
Comment[tr]=Dinamik uzunluklu diziler (JS) için test.
Comment[uk]=Тестова структура для динамічних масивів (JS). Не перекладайте.
Comment[x-test]=xxA test structure for dynamic arrays (JS). Do not translate, it's a waste of timexx
Comment[zh_TW]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic-array
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
