[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[bs]=Proba nizova dinamičke dužine (javaskript).
Name[ca]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[ca@valencia]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[da]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[de]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[es]=Prueba de arrays de tamaño dinámico (JS).
Name[et]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Name[fi]=Testataan taulukkojen (JS) dynaamista pituutta. Älä kotoista, se on ajan tuhlausta.
Name[fr]=Test de tableaux de longueur dynamique (JS).
Name[it]=Prova degli array a lunghezza dinamica (JS).
Name[kk]=Ұзындығы өзгермелі (JS) жиымдарын сынау. Аудармай-ақ қойыңыз.
Name[km]=ការសាកល្បង​រៀបចំ​ប្រវែង​ថាមវន្ត​ (JS) ។ កុំ​បកប្រែ​ វា​ខ្ជះខ្ជាយ​ពេល​វេលា​
Name[nb]=-
Name[nds]=Dünaamsch Längdenrebeden pröven (JS)
Name[nl]=Dynamische lengte arrays (JS) testen.
Name[pl]=Testowanie dynamicznych macierzy (JS). Nie tłumacz, bo to strata czasu
Name[pt]=Teste de listas de tamanho dinâmico (JS)
Name[pt_BR]=Teste de listas de tamanho dinâmico (JS). Não traduza, é perda de tempo
Name[sr]=Проба низова динамичке дужине (јаваскрипт)
Name[sr@ijekavian]=Проба низова динамичке дужине (јаваскрипт)
Name[sr@ijekavianlatin]=Proba nizova dinamičke dužine (JavaScript)
Name[sr@latin]=Proba nizova dinamičke dužine (JavaScript)
Name[sv]=Testar fält med dynamisk längd (JS). Översätt inte, det är bortkastad tid.
Name[uk]=Тестування масивів зі змінною розмірністю (JS). Не перекладайте.
Name[x-test]=xxTesting dynamic length arrays (JS). Do not translate, it's a waste of timexx
Name[zh_CN]=测试动态数组(JS)。
Name[zh_TW]=Testing dynamic length arrays (JS). Do not translate, it's a waste of time
Comment=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[bs]=Probna struktura za dinamičke nizove (javaskript).
Comment[ca]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[ca@valencia]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[da]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[de]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[es]=Una estructura de prueba para arrays dinámicos (JS).
Comment[et]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time
Comment[fi]=Testataan taulukkojen (JS) dynaamista pituutta. Älä kotoista, se on ajan tuhlausta.
Comment[fr]=Un structure de test pour les tableaux dynamiques (JS).
Comment[it]=Una struttura di prova per array a lunghezza dinamica (JS).
Comment[kk]=Динамикалық (JS) жиымдарын сынау құрылымы. Аудармай-ақ қойыңыз. 
Comment[km]=សាកល្បង​រចនាសម្ព័ន្ធ​ សម្រាប់​រៀបចំ​ថាមវន្ត​ (JS) ។​ កុំ​បកប្រែ​ វា​ខ្ជះខ្ជាយ​ពេល​វេលា​
Comment[nb]=-
Comment[nds]=En Pröövstruktuur för dünaamsch Rebeden (JS)
Comment[nl]=Een teststructuur voor dynamische arrays (JS).
Comment[pl]=Struktura testowa dla dynamicznych macierzy (JS). Nie tłumacz, bo to strata czasu
Comment[pt]=Uma estrutura de testes para listas dinâmicas (JS)
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas (JS). Não traduza, é perda de tempo
Comment[sr]=Пробна структура за динамичке низове (јаваскрипт)
Comment[sr@ijekavian]=Пробна структура за динамичке низове (јаваскрипт)
Comment[sr@ijekavianlatin]=Probna struktura za dinamičke nizove (JavaScript)
Comment[sr@latin]=Probna struktura za dinamičke nizove (JavaScript)
Comment[sv]=En teststruktur för dynamiska fält (JS). Översätt inte, det är bortkastad tid.
Comment[uk]=Тестова структура для динамічних масивів (JS). Не перекладайте.
Comment[x-test]=xxA test structure for dynamic arrays (JS). Do not translate, it's a waste of timexx
Comment[zh_CN]=测试动态数组的结构(JS)。
Comment[zh_TW]=A test structure for dynamic arrays (JS). Do not translate, it's a waste of time

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic-array
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
