[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

#An implementation of the elf file header written in javascript (based on Harald Fernegels elf.osd)

Name=ELF structure
Name[bs]=ELF struktura
Name[ca]=Estructura ELF
Name[ca@valencia]=Estructura ELF
Name[da]=ELF-struktur
Name[de]=ELF-Struktur
Name[en_GB]=ELF structure
Name[es]=Estructura ELF
Name[et]=ELF struktuur
Name[fi]=ELF-rakenne
Name[fr]=Structure ELF
Name[hu]=ELF struktúra
Name[it]=Struttura ELF
Name[kk]=ELF құрылымы
Name[km]=រចនាសម្ព័ន្ធ​របស់​ ELF
Name[ko]=ELF 구조
Name[nb]=ELF-struktur
Name[nds]=ELF-Struktuur
Name[nl]=ELF-structuur
Name[pl]=Struktura ELF
Name[pt]=Estrutura ELF
Name[pt_BR]=Estrutura ELF
Name[sr]=ЕЛФ структура
Name[sr@ijekavian]=ЕЛФ структура
Name[sr@ijekavianlatin]=ELF struktura
Name[sr@latin]=ELF struktura
Name[sv]=ELF-struktur
Name[uk]=Структура ELF
Name[x-test]=xxELF structurexx
Name[zh_CN]=ELF 结构
Name[zh_TW]=ELF 結構
Comment=Structure for Executable and Linkable Format (ELF)
Comment[bs]=Struktura za izvršni format (ELF)
Comment[ca]=Estructura per a «Executable and Linkable Format» (ELF)
Comment[ca@valencia]=Estructura per a «Executable and Linkable Format» (ELF)
Comment[da]=Struktur til Executable Linking Format (ELF)
Comment[de]=Struktur für das „Executable and Linkable Format“ (ELF)
Comment[en_GB]=Structure for Executable and Linkable Format (ELF)
Comment[es]=Estructura para el formato ejecutable y enlazable (ELF)
Comment[et]=Täidetava ja lingitava failivormingu (ELF) struktuur
Comment[fi]=Rakenne ELF-tiedostomuodolle
Comment[fr]=Structure pour le format ELF (Executable and Linkable Format)
Comment[it]=Struttura per formato eseguibile e collegabile (ELF)
Comment[kk]=Executable and Linkable Format (ELF) файл құрылымы
Comment[km]=កំណត់​​រចនាសម្ព័ន្ធ​ សម្រាប់​ធ្វើ​ទ្រង់ទ្រាយ​ឯកសារ​ប្រតិបត្តិ​ និង​តំណ​ដែល​អាច​ភ្ជាប់​បាន​ (ELF)
Comment[ko]=ELF 형식 실행 파일을 위한 구조
Comment[nb]=Struktur for Executable Linkable Format (ELF)
Comment[nds]=Struktuur för "Executable and Linkable Format" (ELF)
Comment[nl]=Structuur voor Executable Linking Format (ELF)
Comment[pl]=Struktura dla formatu Executable and Linkable Format (ELF)
Comment[pt]=Estrutura de Executáveis no Formato ELF
Comment[pt_BR]=Estrutura para o ELF (Executable and Linkable Format)
Comment[sr]=Структура за формат извршних фајлова ЕЛФ
Comment[sr@ijekavian]=Структура за формат извршних фајлова ЕЛФ
Comment[sr@ijekavianlatin]=Struktura za format izvršnih fajlova ELF
Comment[sr@latin]=Struktura za format izvršnih fajlova ELF
Comment[sv]=Struktur för formatet Executable and Linkable Format (ELF)
Comment[uk]=Структура файлів у форматі Executable and Linkable Format (ELF)
Comment[x-test]=xxStructure for Executable and Linkable Format (ELF)xx
Comment[zh_CN]=可执行链接格式(ELF)的结构
Comment[zh_TW]=ELF （執行檔連結格式，Executable and Linkable Format）的結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=elf-js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
