[Desktop Entry]
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Testing dynamic length arrays (JS)
Name[ar]=اختبار المصفوفات ديناميكية الطول (JS)
Name[ca]=Proves de matrius de longitud dinàmica (JS)
Name[ca@valencia]=Proves de matrius de llargària dinàmica (JS)
Name[es]=Prueba de arrays de tamaño dinámico (JS)
Name[fr]=Test des tableaux de longueur dynamique (JS)
Name[nl]=Dynamische lengte arrays worden getest (JS)
Name[pt_BR]=Testar as listas de tamanho dinâmico (JS)
Name[sl]=Preizkušanje polj dinamične dolžine (JS)
Name[tr]=Hareketli uzunluk dizilişleri sınanıyor (JS)
Name[uk]=Тестування масивів зі змінною розмірністю (JS)
Comment=A test structure for dynamic arrays (JS)
Comment[ar]=بنية اختبار للمصفوفات الديناميكية (JS)
Comment[ca]=Una estructura de proves per a matrius dinàmiques (JS)
Comment[ca@valencia]=Una estructura de proves per a matrius dinàmiques (JS)
Comment[es]=Una estructura de prueba para arrays dinámicos (JS)
Comment[fr]=Une structure de test pour les tableaux dynamiques (JS)
Comment[nl]=Een teststructuur voor dynamische arrays (JS)
Comment[pt_BR]=Uma estrutura de testes para listas dinâmicas (JS)
Comment[sl]=Preizkusna struktura za dinamična polja (JS)
Comment[tr]=Hareketli uzunluk dizilişleri için bir sınama yapısı (JS)
Comment[uk]=Тестова структура для динамічних масивів (JS)

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=dynamic-array-js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
