[Desktop Entry]
Type=Service
Icon=khexedit
Encoding=UTF-8
Name=Embedded Binary Viewer
Name[bg]=Вграден двоичен преглед
Name[ca]=Visor binari encastat
Name[da]=Indlejret binær fremviser
Name[de]=Eingebettetes Anzeigeprogramm für Binärdateien
Name[es]=Visor binario empotrado
Name[et]=Põimitud binaarfailide näitaja
Name[pt]=Visualizador Binário Embebido
Name[pt_BR]=Visualizador Binário Embebido
Name[ru]=Компонент просмотра двоичных данных
Name[sv]=Inbäddad binärvisning
Name[ta]=உட்பொதிந்த இருநிலை காட்சியாளன்
Name[uk]=Вбудований переглядач для двійкових даних
Comment=Embedded Binary Viewer
Comment[bg]=Вградена програма за преглед на двоични файлове
Comment[ca]=Visor binari encastat
Comment[da]=Indlejret binær fremviser
Comment[de]=Eingebettetes Anzeigeprogramm für Binärdateien
Comment[es]=Visor binario empotrado
Comment[et]=Põimitud binaarfailide näitaja
Comment[pt]=Visualizador Binário Embebido
Comment[pt_BR]=Visualizador Binário Embebido
Comment[ru]=Компонент просмотра двоичных данных
Comment[sv]=Inbäddad binärvisning
Comment[ta]=உட்பொதிந்த இருநிலை காட்சியாளன்
Comment[uk]=Вбудований переглядач для двійкових даних
MimeType=all/allfiles
ServiceTypes=KParts/ReadOnlyPart,Browser/View
#,KParts/ReadWritePart
X-KDE-Library=libkhexedit2part
