[Desktop Entry]
Type=Service
Icon=khexedit
Encoding=UTF-8
Name=Embedded Binary Viewer
Name[fr]=Afficheur de binaires intégré
Name[x-test]=xxEmbedded Binary Viewerxx
Comment=Embedded Binary Viewer
Comment[fr]=Afficheur de binaires intégré
Comment[x-test]=xxEmbedded Binary Viewerxx
#MimeType=all/allfiles
MimeType=application/octet-stream
ServiceTypes=KParts/ReadOnlyPart,Browser/View
#,KParts/ReadWritePart
X-KDE-Library=libkhexedit2part
