[Desktop Entry]
Type=Service
Icon=khexedit
Encoding=UTF-8
Name=Embedded Binary Viewer
Name[ca]=Visor encastat de binaris
Name[da]=Indlejret binær fremviser
Name[es]=Visualizador binario incrustado
Name[et]=Põimitav binaarfailide näitaja
Name[fr]=Aperçu de fichier binaire embarqué
Name[nl]=Ingebedde binaire weergave
Name[pt]=Visualizador Binário Embebido
Name[pt_BR]=Visualizar Binário Integrado
Name[sr]=Уграђени приказивач бинарних фајлова
Name[sv]=Inbäddad binärvisning
Name[xx]=xxEmbedded Binary Viewerxx
Comment=Embedded Binary Viewer
Comment[ca]=Visor encastat de binaris
Comment[da]=Indlejret binær fremviser
Comment[es]=Visualizador vinario incrustado
Comment[et]=Põimitav binaarfailide näitaja
Comment[fr]=Aperçu de fichier binaire embarqué
Comment[nl]=Ingebed binair weergaveprogramma
Comment[pt]=Visualizador binário embebido
Comment[pt_BR]=Visualizar Binário Integrado
Comment[sr]=Уграђени приказивач бинарних фајлова
Comment[sv]=Inbäddad binärvisning
Comment[xx]=xxEmbedded Binary Viewerxx
MimeType=all/allfiles
ServiceTypes=KParts/ReadOnlyPart,Browser/View
#,KParts/ReadWritePart
X-KDE-Library=libkhexedit2part
