[Desktop Entry]
Type=Service
Icon=okteta
Name=Okteta Hex Viewer
Name[en_GB]=Okteta Hex Viewer
Name[pt]=Visualizador Hexadecimal Okteta
Name[pt_BR]=Visualizador hexadecimal do Okteta
Name[sv]=Okteta hexadecimalvisning
Name[uk]=Шістнадцятковий переглядач Okteta
Name[x-test]=xxOkteta Hex Viewerxx
MimeType=all/allfiles;
#MimeType=application/octet-stream
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,KParts/ReadWritePart
X-KDE-Library=oktetapart
