[Desktop Entry]
Type=Service
Icon=okteta
Name=Okteta Hex Viewer
Name[ast]=Visor Hexadecimal Okteta
Name[bs]=Okteta heksadekadni prikazivač
Name[ca]=Visualitzador hexadecimal Okteta
Name[ca@valencia]=Visualitzador hexadecimal Okteta
Name[da]=Okteta hex-fremviser
Name[de]=Okteta-Hexbetrachter
Name[en_GB]=Okteta Hex Viewer
Name[es]=Visor hexadecimal Okteta
Name[et]=Okteta koodinäitaja
Name[fi]=Okteta heksakatselin
Name[fr]=Afficheur hexadécimal Okteta
Name[it]=Visore esadecimale Okteta
Name[kk]=Okteta оналтылықтап карау құралы
Name[km]=កម្មវិធី​មើល​របស់​ Okteta Hex​
Name[ko]=Okteta 16진수 뷰어
Name[nb]=Okteta  hex-viser
Name[nds]=Okteta-Hexkieker
Name[nl]=Okteta hexweergave
Name[pa]=ਓਕਟੀਟਾ ਹੈਕਸਾ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka szesnastkowa Okteta
Name[pt]=Visualizador Hexadecimal Okteta
Name[pt_BR]=Visualizador hexadecimal do Okteta
Name[ru]=Шестнадцатеричный просмотрщик Okteta
Name[sr]=Хексадекадни приказивач Октете
Name[sr@ijekavian]=Хексадекадни приказивач Октете
Name[sr@ijekavianlatin]=Heksadekadni prikazivač Oktete
Name[sr@latin]=Heksadekadni prikazivač Oktete
Name[sv]=Okteta hexadecimalvisning
Name[uk]=Шістнадцятковий переглядач Okteta
Name[x-test]=xxOkteta Hex Viewerxx
Name[zh_CN]=Okteta 十六进制查看器
Name[zh_TW]=Okteta 十六進位碼檢視器
MimeType=all/allfiles;
#MimeType=application/octet-stream
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,KParts/ReadWritePart
X-KDE-Library=oktetapart
