<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="oktetapartbrowser" version="3" translationDomain="oktetapart">

<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="export" /><!--TODO: non-standard, needs group to add to-->
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="copy_as" /><!--TODO: non-standard, needs group to add to-->
    <Separator/>
    <Action name="edit_select_all"/>
    <Action name="edit_deselect"/>
    <Action name="edit_select" /><!--TODO: non-standard, needs group to add to-->
    <Separator/>
    <Action name="edit_find"/>
    <Action name="edit_find_next"/>
    <Action name="edit_find_prev"/>
    <Separator/>
    <Action name="goto_offset" /><!--TODO: non-standard, needs group to add to-->
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Separator/>
    <Action name="view_zoom_in"/>
    <Action name="view_zoom_out"/>
    <Separator/>
    <Action name="view_lineoffset" />
    <Action name="view_offsetcoding" />
    <Separator/>
    <Action name="togglecolumns" />
    <Action name="view_valuecoding" />
    <Action name="view_charencoding" />
    <Action name="view_showsnonprinting" />
    <Separator/>
    <Action name="view_bytesperline" />
    <Action name="view_bytespergroup" />
    <Action name="resizestyle" />
    <Action name="viewmode" />
    <Separator/>
    <Action name="view_profile" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="edit_find" />
</ToolBar>

<Menu name="viewContextMenu">
  <Action name="edit_copy"/>
  <Action name="copy_as"/>
  <Separator/>
  <Action name="edit_select_all"/>
  <Action name="edit_deselect"/>
  <Action name="edit_select"/>
</Menu>

</gui>
