[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=khexedit
Name=Embedded Binary Viewer
Comment=Embedded Binary Viewer
MimeType=all/allfiles
#MimeType=application/octet-stream
ServiceTypes=KParts/ReadOnlyPart,Browser/View
#,KParts/ReadWritePart
X-KDE-Library=liboktetapart
