[Desktop Entry]
Encoding=UTF-8
Icon=arrow-left
Type=Service
ServiceTypes=KPluginInfo

Name=Bitfields test
Name[en_GB]=Bitfields test
Name[pt]=Teste de campos de 'bits'
Name[pt_BR]=Teste de campos de 'bits'
Name[uk]=Перевірка полів бітів
Name[x-test]=xxBitfields testxx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=bitfields
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
