[Desktop Entry]
Type=Service
Name=BytesEdit Widget
Name[x-test]=xxBytesEdit Widgetxx
X-KDE-Library=libkbytearrayedit
X-KDE-ServiceTypes=KHexEdit/KBytesEdit

