[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=BytesEdit Widget
Name[fr]=Composant éditeur binaire
Name[x-test]=xxBytesEdit Widgetxx
X-KDE-Library=libkbyteseditwidget
InitialPreference=2
ServiceTypes=KHexEdit/KBytesEdit

