[Desktop Entry]
Type=Service
Name=BytesEdit Widget
Name[sv]=Grafisk komponent för byte-redigering
X-KDE-Library=libkbytearrayedit
X-KDE-ServiceTypes=KHexEdit/KBytesEdit

