[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Simple test
Name[da]=Simpel test
Name[en_GB]=Simple test
Name[es]=Prueba sencilla
Name[et]=Lihtne test
Name[fr]=Test simple
Name[gl]=Proba simple
Name[nb]=Enkel test
Name[pt]=Teste simples
Name[sv]=Enkel test
Name[uk]=Простий тест
Name[x-test]=xxSimple testxx
Name[zh_TW]=簡單測試
Comment=A few test structures
Comment[da]=Nogle få teststrukturer
Comment[en_GB]=A few test structures
Comment[es]=Más estructuras de prueba
Comment[et]=Mõned teststruktuurid
Comment[fr]=Quelques structures de test
Comment[gl]=Unhas poucas estruturas de probas
Comment[nb]=Noen teststrukturer
Comment[pt]=Algumas estruturas de testes
Comment[sv]=Några teststrukturer
Comment[uk]=Декілька тестових структур
Comment[x-test]=xxA few test structuresxx
Comment[zh_TW]=一些測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
