[Desktop Entry]
Name=Okteta
GenericName=Binary Editor
GenericName[af]=Binêre Redigeerder
GenericName[ar]=محرر ثنائى
GenericName[br]=Aozer binarel
GenericName[ca]=Editor binari
GenericName[cs]=Binární editor
GenericName[cy]=Golygydd Deuaidd
GenericName[de]=Binäreditor
GenericName[eo]=Deksesuma redaktilo
GenericName[et]=Binaarfailide redaktor
GenericName[eu]=Editore Binarioa
GenericName[ga]=Eagarthóir Dénártha
GenericName[gl]=Editor binario
GenericName[he]=עורך בינרי
GenericName[hr]=Binarni uređivač
GenericName[hu]=Hexaszerkesztő
GenericName[is]=Tvíunda-ritill
GenericName[kk]=Бинарлық редактор
GenericName[ko]=바이너리 편집기
GenericName[lt]=Dvejetainio kodo redaktorius
GenericName[lv]=Binārais redaktors
GenericName[mk]=Бинарен уредувач 
GenericName[ms]=Penyunting Binari
GenericName[nds]=Hexeditor
GenericName[ne]=बाइनरी सम्पादक
GenericName[nl]=Binaire bestanden bewerken
GenericName[nn]=Program for binærredingerig
GenericName[pl]=Editor Binarny
GenericName[ro]=Editor date binare
GenericName[ru]=Двоичный редактор
GenericName[sk]=Binárny editor
GenericName[ta]=இருநிலை தொகுப்பான்
GenericName[tg]=Муҳаррири Дуӣ
GenericName[vi]=Trình biên tập nhị phân
GenericName[wa]=Aspougneu binaire
GenericName[xh]=Umphathi Webhetri
GenericName[zh_CN]=二进制编辑器
Icon=okteta
Exec=okteta -caption "%c" %U
Type=Application
X-DocPath=okteta/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.okteta
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;

