[Desktop Entry]
Encoding=UTF-8
GenericName=Binary Editor
GenericName[de]=Binär-Editor
GenericName[et]=Binaarfailide redaktor
GenericName[pt]=Editor Binário
GenericName[pt_BR]=Editor Binário
GenericName[sv]=Binäreditor
Name=Okteta
Exec=okteta -caption "%c" %U
Icon=khexedit
Path=
Type=Application
DocPath=okteta/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;

