[Desktop Entry]
Name=Okteta
GenericName=Binary Editor
Icon=okteta
Exec=okteta -caption "%c" %U
Type=Application
X-DocPath=okteta/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.okteta
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;

