[Desktop Entry]
Name=Okteta
GenericName=Hex Editor
Icon=okteta
Exec=okteta %U
Type=Application
X-DocPath=okteta/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.okteta
DBusActivatable=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
