[Desktop Entry]
Encoding=UTF-8
Name=KHexEdit2
Exec=khexedit2 %i %m -caption "%c"
Icon=khexedit
Type=Application
DocPath=khexedit2/khexedit2.html
Comment=A KDE KPart Application
Comment[ca]=Una aplicació KPart per a KDE
Comment[es]=Una aplicación de KPart de KDE.
Comment[nl]=een KDE KPart-applicaite
Comment[pt]=Uma aplicação KPart do KDE
Comment[pt_BR]=Uma aplicação Componente do KDE
Comment[sv]=Delprogram för KDE (Kpart)
Comment[wa]=On programe KDE KPart
Comment[xx]=xxA KDE KPart Applicationxx
Terminal=0
