[Desktop Entry]
Encoding=UTF-8
Name=KHexEdit2
Name[sv]=Binäreditor 2
Name[tr]=KHexDüzenle2
Name[xx]=xxKHexEdit2xx
Exec=khexedit2 %i %m -caption "%c"
Icon=khexedit
Type=Application
DocPath=khexedit2/khexedit2.html
Comment=A KDE KPart Application
Comment[br]=Ur meziant Kpart evit KDE
Comment[ca]=Una aplicació KPart per a KDE
Comment[cy]=Cymhwysiad KPart KDE
Comment[da]=Et KDE KPart-program
Comment[el]=Μια εφαρμογή KPart του KDE
Comment[es]=Una aplicación de KPart de KDE
Comment[et]=KDE KPart rakendus
Comment[fr]=Une application KDE KPart
Comment[ga]=Feidhmchlár KPart KDE
Comment[hu]=KPart-alapú alkalmazás
Comment[it]=Applicazione KPart di KDE
Comment[ja]=KDE KPart アプリケーション
Comment[lt]=KDE KPart programa
Comment[nl]=Een KDE KPart-toepassing
Comment[pt]=Uma Aplicação KPart do KDE
Comment[pt_BR]=Uma aplicação Componente do KDE
Comment[sr]=Програм у облику KPart-а
Comment[sr@Latn]=Program u obliku KPart-a
Comment[sv]=Delprogram för KDE (Kpart)
Comment[tr]=Bir KDE Kpart Uygulaması
Comment[wa]=On programe KDE KPart
Comment[xx]=xxA KDE KPart Applicationxx
Terminal=false
