[Desktop Entry]
Encoding=UTF-8
Icon=x-shape-image
Type=Service
ServiceTypes=KPluginInfo

Name=PNG file header
Name[da]=PNG-fil-header
Name[en_GB]=PNG file header
Name[es]=Cabecera de archivo PNG
Name[fr]=En-ête de fichier PNG
Name[sv]=PNG-filhuvud
Name[uk]=Заголовок файла PNG
Name[x-test]=xxPNG file headerxx
Comment=A test structure containing the PNG file header (file must be set to big-endian)
Comment[da]=En teststruktur som indeholder PNG-fil-headeren (filen skal være sat til big-endian)
Comment[en_GB]=A test structure containing the PNG file header (file must be set to big-endian)
Comment[es]=Una estructura de pruebas que contiene la cabecera de un archivo PNG (el archivos se debe fijar como big-endian)
Comment[fr]=Une structure de test contenant l'en-tête de fichier PNG (le fichier doit être défini comme « big-endian »).
Comment[sv]=En teststruktur som innehåller PNG-filhuvudet (filen måste vara inställt till big endian)
Comment[uk]=Тестова структура, що містить заголовок файла PNG (порядок байтів у файлі має бути зворотним)
Comment[x-test]=xxA test structure containing the PNG file header (file must be set to big-endian)xx

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=png
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
