[Desktop Entry]
Encoding=UTF-8
Icon=x-shape-image
Type=Service
ServiceTypes=KPluginInfo

Name=PNG file header
Name[ca]=Capçalera de fitxer PNG
Name[ca@valencia]=Capçalera de fitxer PNG
Name[cs]=Hlavička souboru PNG
Name[da]=PNG-fil-header
Name[de]=PNG-Dateikopf
Name[en_GB]=PNG file header
Name[es]=Cabecera de archivo PNG
Name[et]=PNG-faili päis
Name[eu]=PNG fitxategien goiburua
Name[fi]=PNG-tiedosto-otsake
Name[fr]=En-ête de fichier PNG
Name[gl]=Cabeceira de ficheiro PNG
Name[hr]=Zaglavlje PNG-datoteke
Name[hu]=PNG-fejléc
Name[is]=PNG skráarhaus
Name[it]=Intestazione file PNG
Name[lv]=PNG faila galvene
Name[nb]=PNG filhode
Name[nds]=PNG-Dateikopp
Name[nl]=PNG-bestandskop
Name[pa]=PNG ਫਾਇਲ ਹੈੱਡਰ
Name[pt]=Cabeçalho do ficheiro PNG
Name[pt_BR]=Cabeçalho do arquivo PNG
Name[ru]=Заголовок файла PNG
Name[sk]=Hlavička súboru PNG
Name[sr]=Заглавље ПНГ фајла
Name[sr@ijekavian]=Заглавље ПНГ фајла
Name[sr@ijekavianlatin]=Zaglavlje PNG fajla
Name[sr@latin]=Zaglavlje PNG fajla
Name[sv]=PNG-filhuvud
Name[tr]=PNG dosya başlığı
Name[uk]=Заголовок файла PNG
Name[x-test]=xxPNG file headerxx
Name[zh_CN]=PNG 文件头
Name[zh_TW]=PNG 檔案標頭
Comment=A test structure containing the PNG file header (file must be set to big-endian)
Comment[ca]=Un estructura de proves que conté la capçalera d'un fitxer PNG (el fitxer s'ha de definir com a «big-endian»)
Comment[ca@valencia]=Un estructura de proves que conté la capçalera d'un fitxer PNG (el fitxer s'ha de definir com a «big-endian»)
Comment[da]=En teststruktur som indeholder PNG-fil-headeren (filen skal være sat til big-endian)
Comment[de]=Eine Test-Struktur, die einen PNG-Dateivorspann enthält (die Datei muss auf „Big Endian“ eingestellt sein)
Comment[en_GB]=A test structure containing the PNG file header (file must be set to big-endian)
Comment[es]=Una estructura de pruebas que contiene la cabecera de un archivo PNG (el archivos se debe fijar como big-endian)
Comment[et]=PNG-faili päist sisaldav teststruktuur (fail peab olema jämedaotsaline)
Comment[eu]=PNG fitxategien goiburua daukan probatarako egitura bat (fitxategiak "big-endian" ezarrita behar du izan)
Comment[fi]=PNG-tiedosto-otsakkeen sisältävä testirakenne (tiedosto on asetettava big-endianiksi)
Comment[fr]=Une structure de test contenant l'en-tête de fichier PNG (le fichier doit être défini comme « big-endian »).
Comment[gl]=Unha estrutura de probas que contén a cabeceira de ficheiro PNG (o ficheiro debe configurarse como big-endian)
Comment[hr]=Testna struktura koja sadrži zaglavlje PNG-datoteke (datoteka mora biti postavljena na big-endian)
Comment[hu]=PNG-fejlécet tartalmazó tesztstruktúra (a fájlnak BE bájtsorrendűnek kell lennie)
Comment[it]=Una struttura di prova contenente l'intestazione del file PNG (il file dev'essere in big-endian)
Comment[lv]=Pārbaudes struktūra, kas satur PNG galveni (failam jābūt big-endian)
Comment[nb]=En teststruktur som inneholder PNG filhodet (filen må v ære satt til big-endian)
Comment[nds]=En Pröövstruktuur, de den PNG-Dateikopp bargt (de Datei mutt op »Big-Endian« sett wesen).
Comment[nl]=Een teststructuur die de PNG-bestandskop bevat (bestand moet ingesteld staan op big-endian)
Comment[pt]=Uma estrutura de testes que contém o cabeçalho de um ficheiro PNG (o ficheiro deverá estar em 'big-endian')
Comment[pt_BR]=Uma estrutura de testes que contém o cabeçalho de um arquivo PNG (o arquivo deve estar em big-endian)
Comment[sk]=Testovacia štruktúra obsahujúca hlavičku súboru PNG (súbor musí byť nastavený na big-endian)
Comment[sr]=Пробна структура која садржи заглавље ПНГ фајла (фајл мора бити велике крајњости)
Comment[sr@ijekavian]=Пробна структура која садржи заглавље ПНГ фајла (фајл мора бити велике крајњости)
Comment[sr@ijekavianlatin]=Probna struktura koja sadrži zaglavlje PNG fajla (fajl mora biti velike krajnjosti)
Comment[sr@latin]=Probna struktura koja sadrži zaglavlje PNG fajla (fajl mora biti velike krajnjosti)
Comment[sv]=En teststruktur som innehåller PNG-filhuvudet (filen måste vara inställt till big endian)
Comment[tr]=PNG dosya başlığı içeren test yapısı (dosya big-endian olarak ayarlanmalı)
Comment[uk]=Тестова структура, що містить заголовок файла PNG (порядок байтів у файлі має бути зворотним)
Comment[x-test]=xxA test structure containing the PNG file header (file must be set to big-endian)xx
Comment[zh_CN]=一个包含 PNG 文件头的测试用结构(文件必须设为高位优先)
Comment[zh_TW]=包含 PNG 檔頭的測試結構（檔案必須設定為高位元優先）

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=png
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
