[Desktop Entry]
Encoding=UTF-8
Icon=x-shape-image
Type=Service
ServiceTypes=KPluginInfo

Name=PNG file header
Name[ca]=Capçalera de fitxer PNG
Name[da]=PNG-fil-header
Name[en_GB]=PNG file header
Name[es]=Cabecera de archivo PNG
Name[et]=PNG-faili päis
Name[fr]=En-ête de fichier PNG
Name[gl]=Cabeceira de ficheiro PNG
Name[hu]=PNG-fejléc
Name[nb]=PNG filhode
Name[pt]=Cabeçalho do ficheiro PNG
Name[pt_BR]=Cabeçalho do arquivo PNG
Name[sk]=Hlavička súboru PNG
Name[sv]=PNG-filhuvud
Name[uk]=Заголовок файла PNG
Name[x-test]=xxPNG file headerxx
Name[zh_CN]=PNG 文件头
Name[zh_TW]=PNG 檔案標頭
Comment=A test structure containing the PNG file header (file must be set to big-endian)
Comment[ca]=Un estructura de proves que conté la capçalera d'un fitxer PNG (el fitxer s'ha de definir com a «big-endian»)
Comment[da]=En teststruktur som indeholder PNG-fil-headeren (filen skal være sat til big-endian)
Comment[en_GB]=A test structure containing the PNG file header (file must be set to big-endian)
Comment[es]=Una estructura de pruebas que contiene la cabecera de un archivo PNG (el archivos se debe fijar como big-endian)
Comment[et]=PNG-faili päist sisaldav teststruktuur (fail peab olema jämedaotsaline)
Comment[fr]=Une structure de test contenant l'en-tête de fichier PNG (le fichier doit être défini comme « big-endian »).
Comment[gl]=Unha estrutura de probas que contén a cabeceira de ficheiro PNG (o ficheiro debe configurarse como big-endian)
Comment[hu]=PNG-fejlécet tartalmazó tesztstruktúra (a fájlnak BE bájtsorrendűnek kell lennie)
Comment[nb]=En teststruktur som inneholder PNG filhodet (filen må v ære satt til big-endian)
Comment[pt]=Uma estrutura de testes que contém o cabeçalho de um ficheiro PNG (o ficheiro deverá estar em 'big-endian')
Comment[pt_BR]=Uma estrutura de testes que contém o cabeçalho de um arquivo PNG (o arquivo deve estar em big-endian)
Comment[sk]=Testovacia štruktúra obsahujúca hlavičku súboru PNG (súbor musí byť nastavený na big-endian)
Comment[sv]=En teststruktur som innehåller PNG-filhuvudet (filen måste vara inställt till big endian)
Comment[uk]=Тестова структура, що містить заголовок файла PNG (порядок байтів у файлі має бути зворотним)
Comment[x-test]=xxA test structure containing the PNG file header (file must be set to big-endian)xx
Comment[zh_CN]=一个包含 PNG 文件头的测试用结构(文件必须设为高位优先)
Comment[zh_TW]=包含 PNG 檔頭的測試結構（檔案必須設定為高位元優先）

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=png
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
