[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=ELF structure
Name[ca]=Estructura ELF
Name[ca@valencia]=Estructura ELF
Name[cs]=Struktura ELF
Name[da]=ELF-struktur
Name[de]=ELF-Struktur
Name[en_GB]=ELF structure
Name[es]=Estructura ELF
Name[et]=ELF struktuur
Name[eu]=ELF egitura
Name[fr]=Structure ELF
Name[ga]=Struchtúr ELF
Name[gl]=Estrutura ELF
Name[hr]=ELF struktura
Name[hu]=ELF struktúra
Name[id]=Struktur ELF
Name[it]=Struttura ELF
Name[kk]=ELF құрылымы
Name[km]=រចនាសម្ព័ន្ធ ELF
Name[ko]=ELF 구조
Name[nb]=ELF-struktur
Name[nds]=ELF-Struktuur
Name[nl]=ELF-structuur
Name[pt]=Estrutura ELF
Name[pt_BR]=Estrutura ELF
Name[ro]=Structură ELF
Name[sk]=ELF štruktúra
Name[sr]=ЕЛФ структура
Name[sr@ijekavian]=ЕЛФ структура
Name[sr@ijekavianlatin]=ELF struktura
Name[sr@latin]=ELF struktura
Name[sv]=ELF-struktur
Name[tr]=ELF yapısı
Name[uk]=Структура ELF
Name[x-test]=xxELF structurexx
Name[zh_CN]=ELF 结构
Name[zh_TW]=ELF 結構
Comment=Structure for Executable and Linkable Format (ELF)
Comment[ca]=Estructura per a «Executable and Linkable Format» (ELF)
Comment[ca@valencia]=Estructura per a «Executable and Linkable Format» (ELF)
Comment[da]=Struktur af Executable Linking Format (ELF)
Comment[de]=Struktur für das „Executable and Linkable Format“ (ELF)
Comment[en_GB]=Structure for Executable and Linkable Format (ELF)
Comment[es]=Estructura para el formato ejecutable y enlazable (ELF)
Comment[et]=Täidetava ja lingitava failivormingu (ELF) struktuur
Comment[fr]=Structure pour « Executable and Linking Format » (ELF)
Comment[hu]=Struktúra végrehajtható és linkelhető formátum számára (ELF)
Comment[id]=Struktur untuk Format Dapat-Eksekusi dan Dapat-Taut (ELF)
Comment[kk]=Executable and Linkable Format (ELF) құрылымы
Comment[km]=រចនាសម្ព័ន្ធ​សម្រាប់​ Executable and Linkable Format (ELF)
Comment[ko]=실행 및 링크 가능한 형식(ELF)의 구조
Comment[nb]=Struktur for Executable Linkable Format (ELF)
Comment[nl]=Structuur voor Executable Linking Format (ELF)
Comment[pt]=Estrutura do Formato de Ligação de Executáveis (ELF)
Comment[pt_BR]=Estrutura para o ELF (Executable and Linkable Format)
Comment[ro]=Structură pentru Formatul Executabil și Link-abil
Comment[sr]=Структура за формат повезивања извршних (ЕЛФ)
Comment[sr@ijekavian]=Структура за формат повезивања извршних (ЕЛФ)
Comment[sr@ijekavianlatin]=Struktura za format povezivanja izvršnih (ELF)
Comment[sr@latin]=Struktura za format povezivanja izvršnih (ELF)
Comment[sv]=Struktur för formatet Executable and Linkable Format (ELF)
Comment[tr]=Executable Linking Format (ELF) dosya biçimi için yapı
Comment[uk]=Структура файлів у форматі Executable and Linkable Format (ELF)
Comment[x-test]=xxStructure for Executable and Linkable Format (ELF)xx
Comment[zh_CN]=可执行可链接格式(ELF)的结构
Comment[zh_TW]=ELF （執行檔連結格式，Executable and Linkable Format）的結構

X-KDE-PluginInfo-Author=Harald Fernengel
X-KDE-PluginInfo-Email=harry@kdevelop.org
X-KDE-PluginInfo-Name=elf
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
