[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=ELF structure
Name[en_GB]=ELF structure
Name[nds]=ELF-Struktuur
Name[pt]=Estrutura ELF
Name[pt_BR]=Estrutura ELF
Name[sv]=ELF-struktur
Name[uk]=Структура ELF
Name[x-test]=xxELF structurexx
Name[zh_TW]=ELF 結構
Comment=Structure for Executable and Linkable Format (ELF)
Comment[en_GB]=Structure for Executable and Linkable Format (ELF)
Comment[nds]=Struktuur för "Executable and Linkable Format" (ELF)
Comment[pt]=Estrutura de Executáveis no Formato ELF
Comment[pt_BR]=Estrutura para o ELF (Executable and Linkable Format)
Comment[sv]=Struktur för formatet Executable and Linkable Format (ELF)
Comment[uk]=Структура файлів у форматі Executable and Linkable Format (ELF)
Comment[x-test]=xxStructure for Executable and Linkable Format (ELF)xx
Comment[zh_TW]=ELF （執行檔連結格式，Executable and Linkable Format）的結構

X-KDE-PluginInfo-Author=Harald Fernengel
X-KDE-PluginInfo-Email=harry@kdevelop.org
X-KDE-PluginInfo-Name=elf
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
