[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=ELF structure
Name[x-test]=xxELF structurexx
Comment=Structure for Executable and Linkable Format (ELF)
Comment[x-test]=xxStructure for Executable and Linkable Format (ELF)xx

X-KDE-PluginInfo-Author=Harald Fernengel
X-KDE-PluginInfo-Email=harry@kdevelop.org
X-KDE-PluginInfo-Name=elf
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
