[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Simple test
Name[ca]=Prova simple
Name[ca@valencia]=Prova simple
Name[cs]=Jednoduchý test
Name[da]=Simpel test
Name[de]=Einfacher Test
Name[en_GB]=Simple test
Name[es]=Prueba sencilla
Name[et]=Lihtne test
Name[eu]=Azterketa erraza
Name[fi]=Yksinkertainen testi
Name[fr]=Test simple
Name[ga]=Tástáil shimplí
Name[gl]=Proba simple
Name[hr]=Jednostavan test
Name[hu]=Egyszerű teszt
Name[id]=Pengujian sederhana
Name[it]=Prova semplice
Name[kk]=Қарапайым сынақ
Name[km]=ការ​សាកល្បង​ធម្មតា
Name[ko]=간단한 테스트
Name[lv]=Vienkāršs tests
Name[nb]=Enkel test
Name[nds]=Eenfach Prööv
Name[nl]=Eenvoudige test
Name[pt]=Teste simples
Name[pt_BR]=Teste simples
Name[ro]=Test simplu
Name[ru]=Примеры структур данных
Name[sk]=Jednoduchý test
Name[sr]=Једноставна проба
Name[sr@ijekavian]=Једноставна проба
Name[sr@ijekavianlatin]=Jednostavna proba
Name[sr@latin]=Jednostavna proba
Name[sv]=Enkel test
Name[th]=การทดสอบพื้นฐาน
Name[tr]=Basit test
Name[uk]=Простий тест
Name[x-test]=xxSimple testxx
Name[zh_CN]=简单测试
Name[zh_TW]=簡單測試
Comment=A few test structures
Comment[ca]=Unes estructures de proves
Comment[ca@valencia]=Unes estructures de proves
Comment[da]=Nogle få teststrukturer
Comment[de]=Einige Test-Strukturen
Comment[en_GB]=A few test structures
Comment[es]=Más estructuras de prueba
Comment[et]=Mõned teststruktuurid
Comment[eu]=Zenbait aztertzeko egitura
Comment[fi]=Muutama testirakenne
Comment[fr]=Quelques structures de test
Comment[ga]=Cúpla struchtúr tástála
Comment[gl]=Unhas poucas estruturas de probas
Comment[hr]=Nekoliko testnih struktura
Comment[hu]=Néhány tesztstuktúra
Comment[id]=Sedikit pengujian struktur
Comment[it]=Alcune strutture di prova
Comment[kk]=Бірнеше сынақ құрылымдары
Comment[km]=រចនាសម្ព័ន្ធ​សាកល្បង​​ផ្សេងៗ​ទៀត
Comment[ko]=적절한 테스트 구조체
Comment[lv]=Dažas testa strukūras
Comment[nb]=Noen teststrukturer
Comment[nds]=En poor Pröövstrukturen
Comment[nl]=Enkele teststructuren
Comment[pt]=Algumas estruturas de testes
Comment[pt_BR]=Algumas estruturas de testes
Comment[ro]=Cîteva structuri de probă
Comment[ru]=Несколько примеров структур данных
Comment[sk]=Niekoľko testovacích štruktúr
Comment[sr]=Неколико пробних структура
Comment[sr@ijekavian]=Неколико пробних структура
Comment[sr@ijekavianlatin]=Nekoliko probnih struktura
Comment[sr@latin]=Nekoliko probnih struktura
Comment[sv]=Några teststrukturer
Comment[tr]=Bir kaç test yapısı
Comment[uk]=Декілька тестових структур
Comment[x-test]=xxA few test structuresxx
Comment[zh_CN]=一个简单的测试用结构
Comment[zh_TW]=一些測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
