[Desktop Entry]
Encoding=UTF-8
Icon=code-context
Type=Service
ServiceTypes=KPluginInfo

Name=Simple test
Name[bs]=Jednostavna proba
Name[ca]=Prova simple
Name[ca@valencia]=Prova simple
Name[cs]=Jednoduchý test
Name[da]=Enkel test
Name[de]=Einfacher Test
Name[en_GB]=Simple test
Name[es]=Prueba sencilla
Name[et]=Lihtne test
Name[fi]=Yksinkertainen testi
Name[fr]=Test simple
Name[hu]=Egyszerű teszt
Name[it]=Prova semplice
Name[kk]=Қарапайым сынақ
Name[km]=សាកល្បង​សាមញ្ញ​
Name[ko]=간단한 테스트
Name[nb]=Enkel test
Name[nds]=Eenfach Prööv
Name[nl]=Eenvoudige test
Name[pl]=Prosty test
Name[pt]=Teste simples
Name[pt_BR]=Teste simples
Name[ru]=Примеры структур данных
Name[sr]=Једноставна проба
Name[sr@ijekavian]=Једноставна проба
Name[sr@ijekavianlatin]=Jednostavna proba
Name[sr@latin]=Jednostavna proba
Name[sv]=Enkel test
Name[uk]=Простий тест
Name[x-test]=xxSimple testxx
Name[zh_CN]=简单测试
Name[zh_TW]=簡單測試
Comment=A few test structures
Comment[bs]=Nekoliko probnih struktura
Comment[ca]=Unes estructures de proves
Comment[ca@valencia]=Unes estructures de proves
Comment[da]=Nogle få teststrukturer
Comment[de]=Einige Test-Strukturen
Comment[en_GB]=A few test structures
Comment[es]=Algunas estructuras de prueba
Comment[et]=Mõned teststruktuurid
Comment[fi]=Muutamia testirakenteita
Comment[fr]=Quelques structures de test
Comment[it]=Alcune strutture di prova
Comment[kk]=Бірнеше сынақ құрылымдары
Comment[km]=សាកល្បង​រចនាសម្ព័ន្ធ​មួយ​ចំនួន​
Comment[ko]=적당한 테스트 구조
Comment[nb]=Noen teststrukturer
Comment[nds]=En poor Pröövstrukturen
Comment[nl]=Enkele teststructuren
Comment[pl]=Kilka struktur testowych
Comment[pt]=Algumas estruturas de teste
Comment[pt_BR]=Algumas estruturas de testes
Comment[ru]=Несколько примеров структур данных
Comment[sr]=Неколико пробних структура
Comment[sr@ijekavian]=Неколико пробних структура
Comment[sr@ijekavianlatin]=Nekoliko probnih struktura
Comment[sr@latin]=Nekoliko probnih struktura
Comment[sv]=Några teststrukturer
Comment[uk]=Декілька тестових структур
Comment[x-test]=xxA few test structuresxx
Comment[zh_CN]=一些测试结构
Comment[zh_TW]=一些測試結構

X-KDE-PluginInfo-Author=Alex Richardson
X-KDE-PluginInfo-Email=alex.richardson@gmx.de
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
